<h2>New celebrity</h2>

<form action="/celebrities" method="POST">
    <div>
        <span> Name: 
            <input type="text" name="name">
        </span>
    </div>
    <div>
        <span> Occupation: 
            <input type="text" name="occupation">
        </span>
    </div>
    <div>
        <span> Catchphrase: 
            <input type="text" name="catchPhrase">
        </span>    
    </div>
    <button type="submit"> Add! </button>
</form>