<h2>New movie</h2>

<form action="/movies" method="POST">
    <div>
        <span> Title:
            <input type="text" name="title">
        </span>
    </div>
    <div>
        <span> Genre:
            <input type="text" name="genre">
        </span>
    </div>
    <div>
        <span> Plot:
            <input type="text" name="plot">
        </span>
    </div>
    <button type="submit"> Add! </button>
</form>